
<mat-drawer-container class="h-100">
    <mat-drawer mode="side" opened>
        <mat-nav-list class="list-item">
            <a mat-list-item routerLink="/products">
              <mat-icon>list</mat-icon>Product
            </a>
            <a *appHasRole="'ROLE_STORE_MANAGER'" mat-list-item routerLink="/users">
              <mat-icon>group</mat-icon>Users
            </a>
            <a *appHasRole="'ROLE_ADMIN'" mat-list-item routerLink="/stores">
              <mat-icon>store</mat-icon>Stores
            </a>
          </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container pt-5">

        <div class="mat-h4">Store : {{ storeName }}</div>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
</mat-drawer-container>