<h3>Users</h3>

<div class="mb-3">
  <button mat-raised-button color="primary" class="mx-1" routerLink="new">Create</button>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre (ex: louisthomas.pro@gmail.com)">
</mat-form-field>

<div class="mat-elevation-z3">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="email" matSortDirection="asc">


    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>
      <td mat-cell *matCellDef="let row"> {{row.roles.join(', ')}} </td>
    </ng-container>

    <ng-container matColumnDef="store">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Store </th>
      <td mat-cell *matCellDef="let row"> {{ row.store?.name  }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="row.email != currentEmail" mat-stroked-button color="warn" class="mx-1" (click)="deleteUser(row)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>