<div class="top-bar">
  <div class="logo-container" routerLink="/"><img src="/assets/medal.png" alt="">
  </div>
  <div *ngIf="currentUser" class="account-menu">
      <!-- <span class="d-none d-sm-block">louisthomas.pro@gmail.com</span> -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <div class="currentAccount">{{currentUser?.data.email}}</div>
          <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
  </div>

</div>

<div class="app-container">
  <alert></alert>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>