@import "./theme";

// https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=35503e&primary.text.color=ffffff&secondary.color=f2be93&secondary.text.color=000000

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
//@import "~bootstrap/scss/transitions";
//@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
//@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
//@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
//@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";

//@import "~bootstrap/scss/bootstrap";

// global application styles
a {
  cursor: pointer;
  color: #35503e;
  text-decoration: none;
}
html {
  height: 100%;
}

body {
  margin: 0;
  // background-color: #f3f3f3;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
}

.future {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.list-item {
  mat-icon {
    margin-right: 15px;
  }
}

.tooltip {
  vertical-align: middle;
  font-size: 18px;
  cursor: pointer;
  padding: 0 8px;
  color: #212121;
}

.form-group {
  font-size: 14px;
}

.v-divider {
  border-left: 1px solid #cecece;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: #5889bd;
}